<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    
      <authentication mode="Forms">
        <forms
          name=".AutenticandoUsuarios" 
          loginUrl="Login.aspx" 
          defaultUrl="Default.aspx"
          protection="All"
          timeout="60"
          path="/">      
        </forms>
      </authentication>
      
      <authorization>
        <deny users="?"/>
      </authorization>   
    
    </system.web>

  <connectionStrings>
    <add name="STRINGCONECTIONPOSTGRES" connectionString="Server= localhost;Port=5432;User Id=postgres;Password=2129949;Database=CRS"/>
    <add name="STRINGCONECTIONSQLSERVER" connectionString="Data Source=(localdb)\Projects;Initial Catalog=CRS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>
